.jumbotron
  %h1
    Smart Donations Done Right.
  %p.lead
    The mobile-optimized, integrated, constantly improving donation flow for your non-profit.
  %p
    = link_to 'Get Started', new_organization_registration_path, class: 'btn btn-lg btn-success', role: 'button', id: 'get-started'


.row.marketing
  .col-lg-6
    %h4
      Easy for organizations
    %p
      Organizations can sign up to accept payments through TakeCharge in minutes, without needing a merchant account.  The TakeCharge donation form can be embedded in virtually any web page with just a few lines of code.  The tool can also be customized to accommodate a variety of advanced fundraising features, like dynamic target asks.

    %h4 Easy for donors
    %p
      TakeCharge is designed based on the best practices of some of the most sophisticated online fundraising programs, and will continue to be refined over time.  The experience is optimized to make the donor experience as easy as possible from end to end, ensuring you can convert the highest number of donors and not leave money on the table.

    %h4
      Global
    %p
      With TakeCharge you can accept donations in virtually any currency, and the form automatically updates based on the donor’s country.

  .col-lg-6
    %h4
      Integrated
    %p
      If you’re using an existing activism CRM like ActionKit or Blue State Digital, TakeCharge will automatically write donations back for you.  No need to manage multiple donor lists.

    %h4
      Mobile
    %p
      Responsive forms look great and convert well on mobile-phones.

    %h4
      Pricing
    %p
      3.9% + $.30 / transaction.
      %br
      $15 / chargeback (refunded if resolved).
      %br
      No setup or hidden fees.

