%p Invite new users to join your organization:
= form_for([current_organization, invitation], remote: true, html: { class: 'form-inline' }) do |f|

  .form-group
    = f.email_field :recipient_email, class: 'form-control', placeholder: 'Email'
  = f.submit 'Send', class: 'btn btn-default'
