%table.table
  %thead
    %th Amount
    %th Currency
    %th Email
    %th Tags

  - charges.each do |charge|
    %tr
      %td= charge.presentation_amount
      %td= charge.currency
      %td= charge.customer.email
      %td= charge.tags.collect{ |t| link_to(t.name, organization_tag_path(current_organization, t.name)) }.join(', ').html_safe
