.alert.alert-warning.alert-dismissible{role:"alert"}
  %button{type:"button", class:"close", 'data-dismiss'=>"alert", 'aria-label'=>"Close"}
    %span{'aria-hidden' =>"true"}
      &times;
  = @test.errors.messages[:base].join(', ')
