abbr, abbr[title] { border: 0; cursor: default; }
footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin_major_stat {
  float: left;

  .number {
    font-size: 3em;
    display: inline-block;
    line-height: 1em;
    margin-right: 5px;
  }
  .subtle {
    width: 70px;
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    margin-top: 5px;
  }
}


.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.margin5 { margin: 5px; }
.margin10 { margin: 10px; }
.margin20 { margin: 20px; }
.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }

.left { float: left; }
.right { float: right; }

.admin_minor_stat {
  float: right;
  text-align: center;
  width: 80px;
  margin-left: 30px;

  .number { font-size: 1.4em; }
  .subtle { line-height: 16px; }
}

.dropdown-toggle {
 cursor: pointer;
}



ul.choice-list {
  padding-left: 0;
  list-style: none;

  li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
  }
  li:hover {
    color: white;
    background-color:#4C8FFF;
    a {
      color: white;
    }
  }
}