.new_organization {
  margin: 200px auto;
  width: 300px;
  h2 {
    font-family: 'Lucida Grande';
    font-weight: normal;
    margin-bottom: 40px;
    color: #444;
  }
  a {
    border: none;
    background-color: #D7E8EE;
    padding: 10px 0px;
    cursor: pointer;
    width: 120px;
    margin: 20px auto;
    display: block;
    color: #444;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 2px 2px 0px #444;
    font-family: 'Lucida Grande';
    text-align: center;
    text-decoration: none;
  }
  a:visited {
    color: #444;
  }
}

.notice {
  font-family: 'Lucida Grande';
  font-size: 12px;
  color: #444;
  text-align: center;
}