.btn1 {
  background: #0074cf;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzRjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDY1YjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #0074cf 0%, #0065b2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0074cf), color-stop(100%,#0065b2));
  background: -webkit-linear-gradient(top, #0074cf 0%,#0065b2 100%);
  background: -o-linear-gradient(top, #0074cf 0%,#0065b2 100%);
  background: -ms-linear-gradient(top, #0074cf 0%,#0065b2 100%);
  background: linear-gradient(to bottom, #0074cf 0%,#0065b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074cf', endColorstr='#0065b2',GradientType=0 );
  box-shadow: 0px 2px 0px #004a84;
  width: 170px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  margin-top: 35px;
  cursor: pointer;
  .btn-header {
    vertical-align: middle;
    line-height: 60px;
    color: white;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    letter-spacing: 2px;
    cursor: pointer;
  }
}