= f.input :username, input_html: {placeholder: "Your admin username"}
= f.input :password, input_html: {placeholder: "Your admin password"}
= f.input :host, input_html: {placeholder: "yourorg.actionkit.com"}
= f.input :donation_page_name, input_html: {placeholder: "Short name for donation page"}
