= f.input :username, label: 'API ID', input_html: {placeholder: "your API ID"}
= f.input :password, label: 'API secret', input_html: {placeholder: "your API secret"}
= f.input :host, input_html: {placeholder: "yourorg.bluestate.com"}
