<div class="create_organization">
  <h2>Congratulations!</h2>
  <p>Your account has been created and will be approved by an admin shortly.</p>
  <p>The slug you will use for your organization is <%= @organization.slug %></p>
</div>